 
    :root {
      --base: #ffc600;
      --spacing: 10px;
      --blur: 10px;
    }

    img {
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }

    .hl {
      color: var(--base);
    }

    /*
      misc styles, nothing to do with CSS variables
    */

    body {
      text-align: center;
      background: 	#8B0000;
      color: white;
      font-family: 'Lato';
      font-weight: 100;
      font-size: 48px;
    }

    .controls {
      margin-bottom: 30px;
    }

    input {
      width: 100px;
    }
  